[Unit]
Description=Disable GPE 06, an interrupt that is going crazy on my Macbook

[Service]
ExecStart=/usr/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/gpe06'

[Install]
WantedBy=multi-user.target
